<a href="https://colab.research.google.com/github/Aishasiddiqui97/Classes/blob/main/AS_CLASS_11_classwork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CLASS TOPIC Short hand else/tenery opperators

In [1]:
num: int =10

if num >10:
    print("number is greaters then 10")
else:
    print("number is less then <10")

#second
#if condition:
   # statment:
#else:
num:int = 9
print("num is greater then 10") if num>10 else print("number is lees then 10")
#3
num =5
#num2 =agr condition ture value 20 warna 10
num2 =20 if num < 10 else 7
print("num>>>",num2)

number is less then <10
number is lees then 10
num>>> 20

ENUMANTED FUNCTION

In [2]:
#EXAMPLE
#          0         1      2      3
names = ["aisha","jabbar","eman","yoha"]
for name in names:
   print(name)

aisha
jabbar
eman
yoha

In [3]:
#2
#          0         1      2      3
names = ["aisha","jabbar","eman","yoha"]
print(names[2])

eman

In [4]:
#3
for name in names:
    if names[1] == "jabbar":
        print("ADAB Jabbar")
        print(name)

ADAB Jabbar
aisha
ADAB Jabbar
jabbar
ADAB Jabbar
eman
ADAB Jabbar
yoha

In [5]:
#4
#           0         1      2      3
names = ["aisha","jabbar","eman","yoha"]
# print(names[1])
index =0
for name in names:
    print("index",index)
    print(name)
    index =index +1

index 0
aisha
index 1
jabbar
index 2
eman
index 3
yoha

In [6]:
#5
#           0         1      2      3
names = ["aisha","jabbar","eman","yoha"]
index =0
for name in names:
    print(f"name{index}: {name}")

name0: aisha
name0: jabbar
name0: eman
name0: yoha

In [7]:
#6
#          0         1      2      3
names = ["aisha","jabbar","eman","yoha"]
for index,name in enumerate(names):
  print(f"name{index}: {name}")

name0: aisha
name1: jabbar
name2: eman
name3: yoha

MAP,FILTER,REDUCE,,FUNCTION

In [8]:
#LOOP
numbers =[1,2,3,4,5]
def square(num:int) :
    return num * num
new_list =[]
print
for num in numbers:
    print("num>>>",num)
    print("calling square function")
    num_sqr =square(num)
    print("num_sqr>>>",num_sqr)
    print("new_list>>>",new_list)

num>>> 1
calling square function
num_sqr>>> 1
new_list>>> []
num>>> 2
calling square function
num_sqr>>> 4
new_list>>> []
num>>> 3
calling square function
num_sqr>>> 9
new_list>>> []
num>>> 4
calling square function
num_sqr>>> 16
new_list>>> []
num>>> 5
calling square function
num_sqr>>> 25
new_list>>> []

In [9]:
#map

numbers =[1,2,3,4,5]
def square(num:int) :
    return num * num

new_list = list(map(square,numbers))
print("numbers",numbers)
print("new_list>>>",new_list)

numbers [1, 2, 3, 4, 5]
new_list>>> [1, 4, 9, 16, 25]

In [10]:
#filters

numbers =[1,2,3,4,5]
def filter_function(num:int):
    return num >3

filtered_list =list(filter(filter_function,numbers))
print("filtered_list",filtered_list)

filtered_list [4, 5]

In [11]:
#MAP

numbers =[1,2,3,4,5]
def filter_function(num:int):
    return num >3

filtered_list =list(map(filter_function,numbers))
print("filtered_list",filtered_list)

filtered_list [False, False, False, True, True]

REDUCE